    #icons a  {
        position: relative;
        font: 8px arial;
        font-weight: bold;
        text-decoration: none;
        -webkit-filter: grayscale(1);
        margin: 10px;
        display: block;
        float: left;
      }
      
   
      #icons a:hover {
        -webkit-filter: grayscale(0);
      }
      
      #icons a img {
         border: 1px solid gray;
         height: 64px;
         box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
      }
      
       #icons a.color {
        -webkit-filter: grayscale(0);
      }
      
      #menu {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: url('../img/bar2.gif');
        border-bottom: 1px solid black;
        z-index: 20;
        zoom: 1;
        height: 90px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);

      }
      
      #visible {
        position: absolute;
        height: 100px;
        left: 120px;
        width: 100%;
        overflow: hidden;

      }
      
      #icons {
        width: 10000px;
        position: absolute;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
      }
      
      
      #icons.jump {
       
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
      }
      
      
      
      .subpages {
        width: 10px;
        position: absolute;
        top: 10px;
        left: 80px;
      }
    
 #publications {
	width:460px;
	border:1px solid gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-top:40px;
	background:#fff;
	padding:20px;
	text-align: left;
	font: 12px arial;
	position: relative;
}

#publications a {
  font-size: 12px;
}
#publications p {
	clear:both;
}
#publications a img {
	width:50px;
	float:left;
	margin: 0px;
	margin-right:10px;
	margin-bottom:10px;
  margin-bottom: 20px;
	border:1px solid gray;
	clear: both;
}

#publications a:hover img {
	border:1px solid black;
}

section .prose {
  font-size: 16px;
  text-align: left;
  padding: 20px;
  background: #EEEEFF;
  width: 700px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  box-shadow: 0px 0px 5px #EEEEFF;
  background: none;
  box-shadow: none;
}

.prose b {
  background: #CCCCCC;
  color: black;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: normal;
  margin: 2px;
}



